<div>
  <div class="addCash">
    <p>Add money with your phone number</p>
    <button>add cash</button>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label=" Account">
      <section id="account">
        <h2>Hello {{user.displayName}}</h2>
        <div class="infos">
          <p>your balance is: {{user?.userAccountInformations?.soldAccount}}€</p>
          <p>your reference number: {{user?.userAccountInformations?.accountReferenceTransaction}}</p>
        </div>
        <div class="transaction">
          <div *ngIf="listUserReferenceAccount !== null">
            <p>Select a buddy</p>
            <mat-form-field appearance="fill">
              <mat-label>Your buddy</mat-label>
              <mat-select [formControl]="buddyControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let u of listUserReferenceAccount" [value]="u.accountReferenceTransaction">
                  {{u.displayName}} /  {{u.accountReferenceTransaction}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>select an account</p>
            <mat-form-field class="example-form-field" appearance="fill" >
              <input matInput type="number" [formControl]="amountControl">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <button (click)="actionTransaction()" class="btn btn-primary btn-block">Pay</button>
          </div>

        </div>
      </section>


    </mat-tab>
    <mat-tab label=" Buddy">
      <section id="buddy">
        <h2>Your buddy save</h2>
        <br />

        <h3>Add a buddy:</h3>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="add a buddy">
        <mat-autocomplete class="autoc" #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option class="matOptions" *ngFor="let option of listUserReferenceAccount" [value]="option"
            (click)="getValue()">
            {{option.displayName}} : {{option.accountReferenceTransaction}}
          </mat-option>
        </mat-autocomplete>
        <h4>Confirm you add Buddy?:</h4>
        <p>{{valueListUserReferenceAccount?.displayName}}</p>
        <button (click)="addBuddy(valueListUserReferenceAccount)" class="btn btn-primary btn-sm">Confirm</button>
        <br /><br />



        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef> Name. </th>
            <td mat-cell *matCellDef="let element"> {{element?.displayName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="accountReferenceTransaction">
            <th mat-header-cell *matHeaderCellDef> Identifiant </th>
            <td mat-cell *matCellDef="let element"> {{element?.userRefTransaction}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="transaction">
            <th mat-header-cell *matHeaderCellDef> Amount transaction </th>
            <td mat-cell *matCellDef="let element">
              <div>
              
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </section>
    </mat-tab>




    <mat-tab label="History">
      <h3>Your history of account</h3>
      <table mat-table [dataSource]="dataSourceHistory" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef> Name. </th>
          <td mat-cell *matCellDef="let element"> {{element?.displayName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.date}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="soldAccount">
          <th mat-header-cell *matHeaderCellDef> Sold account </th>
          <td mat-cell *matCellDef="let element"> {{element?.soldAccount}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>